// COLORS
$color-black: #000;
$color-white: #fff;
//PALETTE
$color-pink: #f72585;
$color-pink-shade-1: #f61379;
$color-pink-shade-2: #ec096f;
$color-pink-shade-3: #d90866;
$color-pink-tint-1: #f8368d;
$color-pink-tint-2: #f84596;
$color-pink-tint-3: #f9559f;

$color-purple: #7209b7;
$color-purple-shade-1: #6a08ac;
$color-purple-shade-2: #62079f;
$color-purple-shade-3: #5a0791;
$color-purple-tint-1: #800acf;
$color-purple-tint-2: #8d0be4;
$color-purple-tint-3: #9912f4;

$color-darkblue: #3a0ca3;
$color-darkblue-shade-1: #350b96;
$color-darkblue-shade-2: #310a8a;
$color-darkblue-shade-3: #2d0a7f;
$color-darkblue-tint-1: #410eb8;
$color-darkblue-tint-2: #4910ce;
$color-darkblue-tint-3: #5111e4;

$color-blue: #4361ee;
$color-blue-shade-1: #3053ec;
$color-blue-shade-2: #1c42ea;
$color-blue-shade-3: #1439dc;
$color-blue-tint-1: #526eef;
$color-blue-tint-2: #5f7af0;
$color-blue-tint-3: #6c85f1;

$color-lightblue: #4cc9f0;
$color-lightblue-shade-1: #37c4ef;
$color-lightblue-shade-2: #22beed;
$color-lightblue-shade-3: #13b5e6;
$color-lightblue-tint-1: #59cef2;
$color-lightblue-tint-2: #65d2f3;
$color-lightblue-tint-3: #72d5f4;

// FONT

// GRID
