// HERO SLIDER START ////////////////////////////////////////////////////////////////////////////////////////////////////////////

.slider {
  grid-column: 1/-1;
  position: relative;
  overflow: hidden;
  height: 80rem;
  margin-bottom: 10rem;
}

.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  transition: all 1s ease-in-out;
}

.slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 2rem;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba($color-black, 0.2), rgba($color-black, 1)),
    url("https://static.vecteezy.com/system/resources/previews/005/152/375/original/modern-futuristic-neon-purple-background-free-vector.jpg");
  &__image {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.slide-content {
  grid-column: 3/-1;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: rgba($color-white, 1);
  gap: 2rem;
  &__title {
    font-size: 4rem;
  }
  &__text {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  color: $color-white;
  z-index: 3;
  background: transparent;
  border: none;
  cursor: pointer;
  &--right {
    right: 0;
    &:hover {
      background-color: $color-darkblue-tint-3;
      height: 30rem;
      border-radius: 1rem 0 0 1rem;
    }
  }
  &--left {
    &:hover {
      background-color: $color-darkblue-tint-3;
      height: 30rem;
      border-radius: 0 1rem 1rem 0;
    }
  }
}

@media only screen and(max-width:1000px) {
  .slide {
    &__image {
      grid-column: 1/-1;
      height: 50%;
    }
  }
  .slide-content {
    grid-column: 2/-2;
    align-self: flex-start;
    text-align: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .slide-content {
    grid-column: 1/-1;
    padding: 0 2rem;
  }
}

// HERO SLIDER END ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
